/*IMPORTAR FUENTES*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;800&display=swap');


/*Reset Css*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color:rgb(240, 240, 240); 
}

h1{
    text-align: center;
}

.btn{
    color: white;
    padding: 5px 15px;
    border-radius: 5px;
}

hr{
    margin: 20px 0;
}

span{
    font-weight: 800;
}



/*HEADER*/
header{

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px 100px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 2;
    background-color: #f2be31;
}

header nav{
    /* display: inline-block; */
    
    display: flex;
    justify-content: flex-end;

}
header div{
    width: 100px;
}

header div img {
    width: 100%;
}

header nav ul{
    display: flex;
    list-style-type: none;
}

header nav ul li {
    /* display: inline-block; */
    margin-left: 50px;
    position: relative;
}

header nav ul li a{
    text-decoration:none;
    color: white;
}

/*submenu*/

header nav ul li ul {
    position: absolute;
    display: none;
    background-color: #212c36;
    padding: 5px 10px;
    text-align: right;
    margin: 0 0 0 -20px;
    border-radius: 4px;
}

header nav ul li ul li {
    display: block;
}

header nav ul li:hover ul {
    display:block;
}

/*INDEX*/

.youtube{
    margin-top: 120px;
    width: 100%;
    height: 600px;
    background-image: url('../img/triple\ qyp.png');
    background-position: center;
    background-size: cover;
    position: relative;
}
.youtube::after{
    content: '';
    position: absolute;
    background-color: rgba(58, 58, 58,.4);
    width: 100%;
    height: 600px;
}
.youtube h1{
    position: absolute;
    color: white;
    font-size: 50px;
    top: 40%;
    left: 12%;
    z-index: 1;
}

#main-index{
    margin: 50px;
}

/* .grid-index{
    display: grid;
    grid-template-columns: repeat(7,1fr);
    justify-items: center;
    align-items: center;
    background-color: white;
    padding: 30px 20px;
} */
.grid-index{
    display: grid;
    grid-template-rows: 1fr;
    grid-row-gap: 10px;
    background-color: white;
    padding: 30px 4.5%;
}
.grid-index div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid-index div p,
.grid-index div h4,
.grid-index img{
    width: 13%;
    text-align: center;
}



/*BANNER*/
#banner{
    height: 85vh;
    background-image: url('../img/fondo-banner.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    /*parallax*/
    background-attachment: fixed;
}


/*MAIN*/
.main {
    margin: 150px 0;
    padding: 0 100px;
}

.ofertas{
    color: red;
    text-align: center;
    text-transform: uppercase;
    margin-top: 50px;
}

#ofertas{
    display: flex;
    justify-content: center;

}

.card{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    box-shadow: 0 0 20px rgb(206, 206, 206);
}

#ofertas .card ul {
    color: darkgrey;
    font-size: 16px;
    list-style-position: inside;
    margin-bottom: 20px;

    /* estilos de lista */
    /* list-style-type: none;
    list-style-type: square; */
    list-style-image: url(../img/comprobado.png);
}

#ofertas .card ul li{
    line-height: 1.5;
    text-align: left;
}

#ofertas .card p {
    text-decoration:line-through;
}

/*font*/
#ofertas .card h3 {
    font-size: 24px;
    margin-bottom: 20px;
}

.oferta{
    width: 300px;
    /* display: inline-block; */
    
    /* display: flex;
    flex-direction: column; */

    margin: 20px;
    padding: 10px 20px;
}

.oferta img{
    width: 100%;
}

.oferta h2 {
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
}

.oferta button{
    background-color: #2366a7;
    color: white;
    padding: 5px 20px;
    border: 1px solid #2366a7;
    border-radius: 5px;
    margin-bottom: 20px;
}



/*FOOTER*/
footer{
    background-color: black;
    padding: 10px 100px;
}
footer ol {
    display: flex;
    justify-content: flex-end;
}
footer ol li{
    margin-left: 10px;
}
footer ol li a {
    color: white;
    text-decoration: none;
}


/**********CARRITO DE COMPRAS*********/
.carrito{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 50px 1fr 1fr;
    grid-template-areas:
    'titulo titulo titulo'
    'carrito carrito precio'
    'carrito carrito .';
    justify-items: center;
    padding: 0 100px;
}

.carrito h1{
    grid-area: titulo;
}

#carrito{
    width: 90%;
    grid-area: carrito;
}

#carrito .contenedorProducto{
    padding: 20px 50px;
    margin: 10px auto;

    display: flex;
    justify-content: space-between;

}
#carrito .contenedorProducto img{
    width: 200px;
}

#carrito .contenedorData,
#carrito .contenedorPrice,
#carrito .contenedorBotones,
#carrito .contenedorProducto img{
    /* display: inline-block; */
    /* vertical-align: middle; */
    /* width: 190px; */

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 0 10px;
}

#carrito .contenedorBotones button{
    margin-bottom: 10px;
}

#carrito .contenedorBotones .contenedorBotones__eliminar {
    background-color: rgb(219, 28, 28);
    border: 1px solid rgb(219, 28, 28);
}

aside{
    grid-area: precio;
    width: 90%;
    margin: 10px 0;
}

aside .card{
    padding: 20px;
}

.pagar{
    background-color: rgb(30, 173, 30);
    border: 1px solid rgb(30, 173, 30);
}

@media (max-width: 576px){
    header{
        flex-wrap: wrap;
        padding: 10px 20px;
    }

    /*MENU HAMBURGUESA*/
    header label{
        width: 40%;
        text-align: end;
    }
    header label i{
        color: white;
        font-size: 30px;
    }
    header nav{
        /* display: none; */
        transform: translateX(-576px);
        transition: 1s;
        position: absolute;
        background-color: #2366a7;
        justify-content: flex-start;
        left: 0;
        top: 120px;
        width: 100%;
        height: 100vh;
        padding: 20px;
    }
    .inputMenu{
        display: none;
    }
    .inputMenu:checked + nav {
        transform: translateX(0);
    }
    .mainMenu{
        display: block;
    }
    .mainMenu li a {
        font-size: 20px;
    }


    /*CARRITO DE COMPRAS*/
    
    .carrito{
        grid-template-columns: 1fr;
        grid-template-areas: 
        'titulo'
        'carrito'
        'precio';
        grid-template-rows: 50px auto 1fr;
        padding: 0;
    }
    #carrito .contenedorProducto{
        flex-direction: column;
        align-items: center;
        height: 550px;
    }
    .main{
        margin: 150px 0 50px;
    }
    footer{
        padding: 20px;
    }
}
@media (min-width: 576px){

}
@media (min-width: 768px){

}
@media (min-width: 991px) {

}